<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">
    <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
    <script src="https://code.highcharts.com/modules/price-indicator.js"></script>
    <script src="https://code.highcharts.com/modules/full-screen.js"></script>
    <script src="https://code.highcharts.com/modules/stock-tools.js"></script>
    <script src="https://code.highcharts.com/stock/modules/heikinashi.js"></script>
    <script src="https://code.highcharts.com/stock/modules/hollowcandlestick.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/front/Main.css}">
	
	<title>Main Page</title> 
	<script th:inline="javascript">
        
        let nameDataTicker = [[${dataTicker}]];
           
         
        let data = [ 
         
         [# th:each="data : ${listadito}"]
            [
                [[${data.t}]],
                [[${data.o}]],
                [[${data.h}]],
                [[${data.l}]],
                [[${data.c}]],
                [[${data.v}]]
            ],
         [/]
         
         ];   
            
            
            /*
             * De esta forma tengo un loop infinito, donde estará esperando info del emitter, y si sucede un timeout porque no se recibió info,
             * se cierra el existente y se crea uno nuevo, hasta que responda seguirá así.
             * Yo podria actualizar el backend, o cerrarlo, y sin actualizar el frontend, veria cambios. Por ejemplo, si el backend no responde, tiraría
             * error al toque, y se ejecutaria el evento de error, cada 5 segundos, intentando nuevamente, en un loop infinito.
             * Si yo levantara nuevamente el backend, entraria en el timeout cada 30 segundos. Copado!
             */
            
            
            
            
            
        
        </script>
        <script th:src="@{/front/Main.js}"></script>
</head>
<body>
	<h1 th:text="'LIVE STOCK DATA OF ' + ${dataTicker} + '!'"></h1>
	<div id="contenedorInput">
		<form>
		    <label for="ticker">Choose a ticker to see live data:</label>
		    <select name="ticker" id="ticker">
		      <option value="AAPL">Apple</option>
		      <option value="GOOGL">Google</option>
		      <option value="AMZN">Amazon</option>
		      <option value="NDAQ">Nasdaq</option>
		      <option value="SPY">S&P500</option>
		    </select>
		    <br>
		    <button id="myInput" type="submit" value="Submit" >Send</button>
  		</form>
	</div>
	<div id="contenedorGrafico">
		<div id="container" class="chart"></div>
	</div>
</body>
</html>